@charset "utf-8";
* {
        margin: 0;
        padding: 0;
}
body {

        text-align: center;
}

div#pageWrapper {
 width: 100%;
height: auto;
        margin-right: 500;
        margin-left: ;
        padding-top: 10px;
        padding-right: 10px;
       padding-bottom: 10px;
        padding-left: 10px;
        text-align: left;
	
}

div#header {
     href="http://unix.josai.ac.jp/2019e/";
        height:100px;
	width: 100%;
	background-image: url("image/header.png");
	background-size:100% auto;
}

div#header1-2 {
     href="http://unix.josai.ac.jp/2019e/";
        height:100px;
	width: 100%;
	background: linear-gradient(#FFCC00, #FFCC33, #FFFF99);
	background-size:100% auto;
}

div#header2 {
     href="http://unix.josai.ac.jp/2019e/";
        height:250px;
	width: 100%;
	background: linear-gradient(#EEEEEE,#AAAAAA, #AAAAAA,#EEEEEE);
	background-size:100% auto;
}
div#grobal navi {
        height:100px;
	width: 100%;
        margin-top: 10px;
        margin-left: 8px;
        background-color:#008000;
       
}

div#maincontents {

}
div#schedule {
        width: 100%;
	height: 40%;
	margin-top: 50px;
        margin-bottom: 50px;
        background-color:#3399FF;
        
}

div#whatsNew {
	width: 100%;
	height: 40%;
	margin-top: 50px;
        margin-bottom: 50px;
       // background-color:#3399FF;
}

div#twitter {
        width: 700px;
	height: 1000px;
	margin-top: 50px;
        margin-bottom: 50px;
}

.btn-circle-stitch {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #87befd;
  border: dashed 1px #FFF;
  transition: .4s;
}

.btn-circle-stitch:hover {
  background: #668ad8;
  box-shadow: 0px 0px 0px 5px #668ad8;
}

.btn-right-radius {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 1.0em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  border-radius: 0 15px 15px 0;
  transition: .4s;
}

.btn-right-radius:hover {
  background: #636363;
}