@charset "utf-8";
* {
        margin: 0;
        padding: 0;
}
body {

        text-align: center;
	 background-color:#ffd700;
}

div#pageWrapper {
 	width: auto;
	height: auto;
        margin-right: 5%;
        margin-left: 5%;
        padding-top: 10px;
        padding-right: 10px;
       	padding-bottom: 10px;
        padding-left: 10px;
        text-align: center;
	background-color:orange;
}

div#header {
     href="http://unix.josai.ac.jp/2019e/";
        height:100px;
	width: 100%;
        background-image: url(image/header.png);
	background-size:100% auto;
	background-color:#ffffff;
	border-style: groove;
	border-color:#FF0000;
}

div#navi {
        float: left;
        width: 234px;
        height: 29px;
        margin-top: 10px;
        margin-left: 8px;
        background-color:#008000;
       	border-color: #FF0000;
}

div#maincontents {

}

div#twitter_title{
        width: 90%;
	height: 1000px;
	margin-top: 20px;
        margin-bottom: 50px;
	border-style: groove;
	border-color: #FF0000;	
}

div#twitter {
        width: AUTO;
	height: 1000px;
	margin-top: 20px;
        margin-bottom: 50px;
	border-style: groove;
	border-color: #FF0000;
}

div#schedule_title {
        width: 90%;
	height: 100%;
	margin-top: 20px;
        margin-bottom: 50%;
	background-color:#ffffff;
}

div#schedule {
	height: 600;
	margin-top: 20px;
        margin-bottom: 0;
	background-color:#ffffff;     
}

div#whtasNew_title {
        width: 90%;
	margin-top: 20;
        margin-bottom: 50%;
	background-color:#ffffff;
}

div#whatsNew {
	width: 100%;
	height: 100%;
	margin-top: 20px;
        margin-bottom: 0;   
}



div#footer {
     href="http://unix.josai.ac.jp/2019e/";
        height:100px;
	width: 100%;
        background-image: url(image/header.png);
	background-size:100% 100%;
}

.btn-circle-stitch {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #87befd;
  border: dashed 1px #FFF;
  transition: .4s;
}

.btn-circle-stitch:hover {
  background: #668ad8;
  box-shadow: 0px 0px 0px 5px #668ad8;
}

.btn-right-radius {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 1.0em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  border-radius: 0 15px 15px 0;
  transition: .4s;
}

.btn-right-radius:hover {
  background: #636363;
}
